<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpacalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPACALCULATOR"
        android:colorPrimaryDark="@color/white"
        android:statusBarColor="@color/white">
        <activity android:name=".sem8_sgpa" />
        <activity android:name=".sem7_cse_sgpa" />
        <activity android:name=".sem7_ece_sgpa" />
        <activity android:name=".sem7_eee_sgpa" />
        <activity android:name=".sem7_mech_sgpa" />
        <activity android:name=".sem6_mech_sgpa" />
        <activity android:name=".sem6_eee_sgpa" />
        <activity android:name=".sem6_ece_sgpa" />
        <activity android:name=".sem6_cse_sgpa" />
        <activity android:name=".sem5_cse_sgpa" />
        <activity android:name=".sem5_ece_sgpa" />
        <activity android:name=".sem5_eee_sgpa" />
        <activity android:name=".sem5_mech_sgpa" />
        <activity android:name=".sem4_mech_sgpa" />
        <activity android:name=".sem4_eee_sgpa" />
        <activity android:name=".sem4_ece_sgpa" />
        <activity android:name=".sem4_cse_sgpa" />
        <activity android:name=".sem3_mech_sgpa" />
        <activity android:name=".sem3_eee_sgpa" />
        <activity android:name=".sem3_ece_sgpa" />
        <activity android:name=".sem3_cse_sgpa" />
        <activity android:name=".sem2_mech_sgpa" />
        <activity android:name=".sem2_eee_sgpa" />
        <activity android:name=".sem2_ece_sgpa" />
        <activity android:name=".sem2_cse_sgpa" />
        <activity android:name=".sem1_sgpa" />
        <activity android:name=".start_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sem2_cgpa" />
        <activity android:name=".sem3_cgpa" />
        <activity android:name=".sem4_cgpa" />
        <activity android:name=".sem5_cgpa" />
        <activity android:name=".sem6_cgpa" />
        <activity android:name=".sem7_cgpa" />
        <activity android:name=".sem8_cgpa" />
        <activity android:name=".cgpa" />
        <activity android:name=".MainActivity" />
        <activity android:name=".sgpa" />
    </application>

</manifest>